/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  opacity: 1;
    transition: 0.1s opacity;

}

body.fade-out {
    opacity: 0;
    transition: none;
}

body::-webkit-scrollbar {
    display: none;
}

.jumbotron {
	background-image: url('../images/pattern yellow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    height: 100vh;

}

.headerText {
  color: white;
}

.maintext {
	color: white;
  background-color: ;
}

.infobox {
  position: ;
  width: 1175px;
  height: 550px;
  opacity: 0.5;
}

.btn-logout {
    color: #fff;
    background-color: #fa8072;
    border-color: white;
}