/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  opacity: 1;
    transition: 1s opacity;

}

body.fade-out {
    opacity: 0;
    transition: none;
}

body::-webkit-scrollbar {
    display: none;
}

.jumbotron {
	background-image: url('../images/pattern-wallpaper-17.jpg');

}

.jumbotronAppPage {
	background-image: url('../images/pattern-wallpaper-17.jpg');
	height: 100vh;
}

.navbar-brand {
	transition: 0.2s ease;
}

.navbar-brand:hover {
	transform: scale(1.1, 1.1);
}

.maintext {
	color: white;
}

.btn {
	transition: 0.2s ease;
}

.btn2 {
	transition: 0.2s ease;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s ease;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-logout {
    color: #fff;
    background-color: #fa8072;
    border-color: ;
}

.btn-Coins {
    color: #fff;
    background-color: #070524;
    border-color: ;
}

.InventoryContainer {
    position: relative;
    left: 200px;
    width: 670px;
    height: 490px;
    background-color: ;
    opacity: 0.7;
    border: solid black 2px;
    overflow: auto;
}

#InventoryContainer::-webkit-scrollbar {
    display: none;
}

.inventory-items {
    
    background-color: grey;
    float: left;
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 10px;
    border: solid black 2px;
    border-radius: 5px;
    transition: 0.3s ease;
}

#info-container2 {
    display: none;
}

#info-container3 {
    display: none;
}

#info-container4 {
    display: none;
}

